*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 2;
    scroll-behavior: smooth;
}
.navbar{
    background-color: #C69552;
}
.container-fluid{
    max-width: 3320px;
    margin: 0 auto;
    padding: 0 1.2rem;
    display: flex;
    flex-direction: row;
}
.navbar-brand{
    display: flex;
    flex-direction: row;
}
#logo{
    height: auto;
    width: 60px;
}
.navbar h2{
    margin: 0.5rem;
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}
button{
    color: #ffffff;
    opacity: 1;
}
.navbar-toggler-icon{
    color: #ffffff;
    font-size: 1rem;
    font-weight: normal;
}
.navbar-nav .nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ffffff;
}
.navbar-nav .nav-link:hover{
    color: #DC1E00;
}
.members{
    background-color: #C69552;
    margin: 0;
    padding-top: 4rem;
    justify-content: space-between;
}
h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
}
h1:after{
    content: '';
    background: #ffffff;
    color: #ffffff;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}
.profile{
    margin-top: 25px;
}
.profile .img-box{
    opacity: 1;
    display: flex;
    flex-direction: column;
}
.profile h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #ffffff;
}
.profile h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    color: #ffffff;
}
.profile p{
    color: #ffffff;
}
.img-box:after{
    content: "";
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 100px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}
.img-box ul{
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 105px;
    display: flex;
    left: 23%;
    opacity: 0;
}
.img-box ul li{
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    margin: 3px;
    padding: 1px;
    display: inline-block;
}
.img-box a{
    color: #ffffff;
}
.img-box:hover::after{
    opacity: 1;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box a:hover li{
    color: #DC1E00;
    border: 1px solid #DC1E00;
}
.img-box:after, .img-box ul, .img-box ul li{
    transition: all 0.3s ease-in-out 0s;
}
.row{
    flex-direction: row;
    justify-content: center;
}